* {
    box-sizing: border-box;
}

.quizcontainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, .1);
    width: 600px;
    overflow: hidden;
}

.quizheader {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
 ul {
    list-style-type: none;
    padding: 0;
 }

 ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
 }

 ul li label {
    cursor: pointer;
 }

button {
    background-color: rgb(195, 155, 233);
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 1.3rem;
} 

button:hover {
    background-color: #732d91;
}
