html, body {
    background: #ffffffef;
    margin: 0; padding: 0; 
    max-width: 100%; overflow-x: hidden;
}
header {
    background-color: black; color: cadetblue;
    text-align: center; 
    justify-content: center; width: 100%; 
    font-family: Cochin; font-size: 24px;
    font-weight: bolder;
    margin: 20px; padding: 10px 0;
     
}

nav {
    display:flex; justify-content: center;
    gap:40px; border: solid 2px; 
    border-radius: 5px;
    font-size: 14px;
    margin: 20px auto;
}

.grid-container{
    display: grid; grid-template-columns: auto auto; 
    gap: 20px; width: 100%; 
    margin: 30px; justify-content: center;
    align-content: center;
}
.grid-box {
    display: flex; justify-content:space-around;
    align-items: center; height: 100px;
    width: 100px; 
}

.content-box {
 height: auto; 
    border: solid 2px; border-radius: 5px;
    margin: 40px; align-content: center;
    display: flex;
}
.quiz-title {
background-color:#57ac8fd6;
color: white; text-align: center; 
margin: 20px; justify-content: center;
padding: 10px; font-weight: bold;
}

.landmark-quote{
text-align: center; font-weight: bold; 
    margin: 20px;
}
.landmark-title { 
    text-align: center; font-weight: bolder;
    width: 100%; padding: 20px; color: #5894c6; 
    margin: 20px; font-family: cochin;
}
.landmark-image { 
justify-content: center; width: 99%;
height: 200px; margin: 20px;
    display: flex;
}
.location{
    text-align-last: center;display: block;
    margin: 20px;
    border:groove 1px; border-radius: 5px;
}
.about{
text-align: center; margin: 20px; 
font-weight: bolder; flex-direction: column;
}
.landmark-about {
text-align:center; display: block; 
justify-content: center; margin: 20px;
}
.timeline {
 justify-content: center; display: block;
text-align: left; height: auto;  
  margin: 20px; background-color: #5894c6;
}
.interactive {
    justify-content: center;display: block;
    margin: 20px; font-size: large; 
    text-align: center; flex: 1; padding: 20px;
    border: solid 2px; border-radius: 5px;
    border-color: #5894c6;
}
.map {
    justify-content: center; 
    display: block; margin: 20px; 
    align-content: center; text-align: center;  
    flex: 1; padding: 20px;
}
.container {
    display: flex; 
    justify-content: space-around;  
}

.video {align-content: center; margin:20px;}
