html, body {
    background: #ffffffef;
    margin: 0; padding: 0; 
    max-width: 100%; overflow-x: hidden;
}
header {
    background-color: black; color: cadetblue;
    text-align: center; 
    justify-content: center; width: 100%; 
    font-family: Cochin; font-size: 24px;
    font-weight: bolder;
    margin: 20px; padding: 10px 0;
     
}

nav {
    display:flex; justify-content: center;
    gap:40px; border: solid 2px; 
    border-radius: 5px;
    font-size: 14px;
    margin: 20px auto;
}

.grid-container{
    display: grid; grid-template-columns: auto auto; 
    gap: 20px; width: 100%; 
    margin: 30px; justify-content: center;
    align-content: center;
}
.grid-box {
    display: flex; justify-content:space-around;
    height: 150px;
    width: auto; 
}

.content-box {
 height: auto; 
    border: solid 2px; border-radius: 5px;
    margin: 40px; align-content: center;
    display: flex;
}

.landmark-quote{
text-align: center; font-weight: bold; 
    margin: 20px;
}
.landmark-title { 
    text-align: center; font-weight: bolder;
 padding: 20px; color: #5894c6; 
    margin: 20px; font-family: cochin;
}
.landmark-image { 
justify-content: center; width: auto;
height: 300px; margin: auto;
display: flex; align-content: center;
}
.location{
    text-align-last: center;display: block;
    margin: 20px;
    border:groove 1px; border-radius: 5px;
}
.about{
text-align: center; margin: 20px; 
font-weight: bolder; flex-direction: column;
}
.landmark-about {
text-align:center; display: block; 
justify-content: center; margin: 20px;
}
.timeline {
 justify-content: center; display: block;
text-align: left; height: auto;  
  margin: 20px; background-color: #5894c6;
}
.interactive {
    justify-content: center;display: block;
    margin: 20px; font-size: large; 
    text-align: center; flex: 1; padding: 20px;
    border: solid 2px; border-radius: 5px;
    border-color: #5894c6; height: fit-content;
}
.map {
    justify-content: center; 
    display: block; margin: 20px; 
    align-content: center; text-align: center;  
    flex: 1; padding: 20px;
}
.container {
    display: flex; 
    justify-content: space-around;  
}

.video {align-content: center; margin:20px;}

/* CSS for JavaScript elements below */


.grid-box-js {
    display: flex; justify-content:space-around;
    width: auto; 
}

.quizcontainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, .1);
    width: 600px;
    height: fit-content;
    overflow: hidden;
}

.quizheader {
    padding: 4rem;
}

.apicontainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, .1);
    width: 600px;
    height: fit-content;
    overflow: hidden;
}

.apiheader {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
 ul {
    list-style-type: none;
    padding: 0;
 }

 ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
 }

p {
    font-weight: bold;
}

button {
    background-color: rgb(195, 155, 233);
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 1.3rem;
} 

button:hover {
    background-color: #732d91;
}
